header {
    background-color: #06517F;
    height: 50px;
}
main {
    background-color: #CFCECE;
    width: 100%;
    height: 90vh; /*entender o que é vh depois */
}

.titulo-gerenciador {
    font-size: 50px;
    font-family: "Roboto Condensed";
    font-weight: bold;
    color: #06517f;
    margin: 0px 0px 10px 20px;
}

.descricao-gerenciador {
    font-size: 20px;
    font-family: "Roboto Condensed";
    color: #021E2F;
    margin: 0px 0px 20px 40px;
}

.card-tarefas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    background-color: #FFFFFF;
    margin: 0px 0px 10px 600px; /*--configurar depois */
}   

.nome-tarefa {
    display: flex;
    font-size: 30px;
    font-family: "Roboto Condensed";
    font-weight: bold;
    color: #000000;
    padding: 10px;
}

.descricao-tarefa {
    display: flex;
    font-size: 30px;
    font-family: "Roboto Condensed";
    font-weight: bold;
    color: #000000;
    padding: 10px;
}

.prioridade-tarefa {
    display: flex;
    font-size: 30px;
    font-family: "Roboto Condensed";
    font-weight: bold;
    color: #000000;
    padding: 10px;
}   

footer {
    height: 30px;
    background-color: #021E2F;
}