header {
    display: flex;
    background-color: #06517F;
    height: 50px;
}
main {
    background-color: #CFCECE;
}

.titulo-gerenciador {
    font-size: 50px;
    font-family: "Roboto Condensed";
    font-weight: bold;
    color: #06517f;
    margin: 0px 0px 10px 0px;
}

.descricao-gerenciador {
    font-size: 20px;
    font-family: "Roboto Condensed";
    color: #021E2F;
    margin: 0px 0px 20px 0px;
}

.card-tarefas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 300px;
    background-color: #FFFFFF;
}   

.nome-tarefa {
    display: flex;
    font-size: 30px;
    font-family: "Roboto Condensed";
    font-weight: bold;
    color: #000000;
    padding: 10px;
}

.descricao-tarefa {
    display: flex;
    font-size: 30px;
    font-family: "Roboto Condensed";
    font-weight: bold;
    color: #000000;
    padding: 10px;
}

.prioridade-tarefa {
    display: flex;
    font-size: 30px;
    font-family: "Roboto Condensed";
    font-weight: bold;
    color: #000000;
    padding: 10px;
}   

footer {
    display: flex;
    height: 30px;
    background-color: #021E2F;
}